/---4. Deneysel Sonuçlar.docx
/---5. Tartışmalar ve Yorumlar.docx
/2. Rapor.docx
/3.1 Dataset.docx
/3.2 Veri Ön İşleme.docx
/3.3 Yapay Zeka.docx
/3.3.1 Makine Öğrenmesi.docx
/3.3.2 Derin Öğrenme.docx
/3.4 Değerlendirme Kriterleri.docx
/Dataset/spotify-create-dataset
/PreProcessing
/source
/spotify
/summary.docx
/Tahsin Soyak 16008119072.docx
/Tahsin Soyak 16008119072.pdf
/TEZ.docx
/Şekiller